header{
    background-color:rgb(231, 20, 20) ;
    color: white;
    display: flex;
    justify-content: space-around;
}
 .cabecalho-imagem{
    width: 10% ;
 }
 .cabecalho-lista-item{display: inline-block;
}
.escola {
    backgrround-image:
